{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="{% static 'logins/login'%}">
    <title>Register </title>
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" />
    </form>
<div class="container">
      <form style="margin-left: 25px;margin-right:25px; " method="post">
        {% csrf_token %}
      <h2 style="font-size:36px;">Register</h2>
          {{form.username}}
          {{ form.email }}
          {{form.password}}
          {{form.password2}}
          {{form.role}}
         <br>

 <button onclick="location.href='{% url 'home_page' %}'">Create Account</button>
      </form>
    </div>
</body>

</html>